    {{#if loading}}
    <div class="loading">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {{/if}}
 
<div class="form" style="margin-bottom:8pt">
    <div class = "form-line">UML-Modell einlesen: {{xml-load-component 
        id=(concat 'uml-load-' elementId) 
        typeAccept = '.uml'
        onLoadSuccess=(action 'loadSuccess' 'modelObject') 
        onLoadError=(action 'loadError')}}
    </div>
    <div class = "form-line">Transformationsscript einlesen:{{xml-load-component 
        id=(concat 'xsl-load-' elementId) 
        typeAccept = '.xsl'
        onLoadSuccess=(action 'loadSuccess' 'styleObject') 
        onLoadError=(action 'loadError')}}
    </div>
    <div class="button button-success" style="margin-bottom:8pt;width:100%" onClick={{action 'startTransformation'}}>
        <span class="icon-upload button-text">Modell einlesen</span>
    </div>
    <div class="button button-success" style="margin-bottom:8pt;width:100%" onClick={{action 'startUpload'}}>
        <span class="icon-upload button-text">Upload starten</span>
    </div>
</div>

<div class="text-box" id={{concat "output-box-" elementId}} name="outputText">
    
</div>


