<h2 class="compact-kpi-headline">{{t 'kpi-compact.availability-title'}}</h2>

<div class="chart-container"> 
</div>

<div class="left-bar">
    <div class="cell number-cell">
        <label class="title">
            {{firstKPILabel}}
        </label>
        <div> 
            {{firstKPIBoxValue}}
        </div>
    </div>
    <div class="cell number-cell">
        <label class="title">
            {{secondKPILabel}}
        </label>
        <div> 
            {{secondKPIBoxValue}}
        </div>
    </div>
    <div class="cell number-cell">
        <label class="title">
            {{thirdKPILabel}}
        </label>
        <div> 
            {{thirdKPIBoxValue}}
        </div>
    </div>
    <div class="cell number-cell">
        <label class="title">
            {{totalKPILabel}}
        </label>
        <div> 
            {{totalKPIValue}}
        </div>
    </div>
    <div class="cell number-cell">
    </div>
</div>