<div style="margin-bottom:8pt">
    {{#if updatePossible}}<div class="button button-success" style="margin-bottom:8pt;width:100%" onClick={{action 'startUpload' false}} id={{concat "btn-upload-" elementId}}>
        <span class="icon-upload button-text" >Knoten updaten</span>
    </div>{{else}}{{/if}}
    <div class="button button-success" style="margin-bottom:8pt;width:100%;display:block" onClick={{action 'startUpload' true}} id={{concat "btn-upload-" elementId}}>
        <span class="icon-upload button-text" >Modell importieren unter</span>
    </div>
    {{#if showProgressBar}}{{progress-bar current=currentProgressVal max=maxProgressVal}}{{/if}}
    <div class="text-box" id={{concat "output-box-" elementId}} name="outputText" style="overflow-y:scroll;overflow-x:hidden;height:100px;width:100%">
        <div style='color:green'>{{activeLog0.text}}</div>
        {{#if activeLog1}}<div style='color:green'>{{activeLog1.text}}</div>{{/if}}
        {{#each archiveLog key='@index' as |logEl|}}
            <div style='{{if (eq logEl.type "error") "color:red" "color:black"}}'>{{logEl.text}}</div>
        {{/each}}
</div>
</div>


